<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin-horizontal">
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="inputUsername" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-horizontal">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="inputEmail" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-horizontal">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="inputPassword"
        required
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-horizontal">
      <ion-label position="floating">Lien vers photo de profil</ion-label>
      <ion-input [(ngModel)]="inputPhotoUrl" required></ion-input>
    </ion-item>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-button (click)="signin()">S'inscrire</ion-button>
    </ion-row>
  </ion-list>
</ion-content>
