<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inbox </ion-title>
    <ion-chip slot="end">
      <ion-label>{{ username }}</ion-label>
      <ion-avatar><img [src]="srcImg" /></ion-avatar
    ></ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Inbox </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-message
      *ngFor="let message of messages"
      [message]="message"
    ></app-message>
  </ion-list>

  <ion-item class="ion-align-items-center" id="inputMessage">
    <ion-textarea
      placeholder="Envoyer un message"
      [(ngModel)]="inputMessage"
    ></ion-textarea>
    <ion-button (click)="sendMessage()">Envoyer</ion-button>
  </ion-item>
</ion-content>
