<ion-tabs>
  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
    <ion-tab-button tab="connection" (click)="signout()">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tabs/messages#inputMessage">
      <ion-icon name="square"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
