<ion-tabs>
  <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
    <ion-tab-button tab="connection">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Connexion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="square"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
